* {
  margin: 0 auto;
}

html {
  scroll-behavior: smooth;
  transition: 1s;
  font-family: "Poppins", sans-serif;
  
}

body {
  font-size: 20px;
  
}


.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  max-width: 481px;
  background-color: rgb(255, 255, 255);
  overflow: hidden;
}

.button-play{
  border: none;
  z-index: 99;
  display: block;
  position: fixed;
  background-color: #6c3b41ea;
  color: #fff;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  right: 20px;
  bottom: 30px;
  transition: all .5s;
}

.button-play:hover{
  border-radius: 25px;
  width: 100px;
}

@media screen and (device-aspect-ratio: 2/3) {
  .wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    max-width: 320px;
    background-color: rgb(255, 255, 255);
  }
}

.hero-section {
  height: 100vh;
  background-image: linear-gradient(
      to bottom,
      rgb(0, 0, 0),
      rgba(0, 0, 0, 0.4),
      rgba(255, 255, 255, 0.1),
      rgba(255, 255, 255, 0.2),
      rgba(255, 255, 255, 0.3),
      rgba(255, 255, 255, 1)
    ),
    url("../img/galery/13.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin: 0;
}

.downscroll {
  text-decoration: none;
  color: #4d4d4d;
  padding: 1rem 3rem;
  background-color: rgba(255, 255, 255, 0.767);
  border-bottom: 2px solid #ca7246;
  font-family: "Dancing Script", cursive;
  margin: 10rem 0;
  transition: 0.5s;
}

.downscroll:hover {
  color: #ca7246;
  background-color: rgb(255, 255, 255);
  border-bottom: 2px solid #ca7246;
}

#initial_wed {
  height: 12vh;
  margin: 5vmax;
  max-width: 100%;
}

.profile-section {
  background-color: #fff;
  font-family: "Nunito Sans", sans-serif;
}

.profile-section .profile-ornament h1 {
  color: rgba(202, 114, 70, 1);
  font-weight: 400;
  margin: 4rem 1rem 1rem 1rem;
  font-family: "Great Vibes", cursive;
}

.profile-section .profile-ornament {
  /* width: 100vw; */
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.profile-section .side-profile {
  height: 10vh;
}

.profile-section .profile-greeting {
}

.profile-section .profile-greeting p {
  text-align: center;
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  margin: 1rem 2rem;
}
.profile-section .profile-picture {
  max-width: 100vw;
  display: flex;
}

.profile-section .profile-picture img {
  max-width: 20vh;
}

.profile-section .profile-name {
  margin: 2rem 0;
  text-align: center;
}

.profile-section .profile-name h3 {
  font-size: 20px;
  font-weight: 800;
  font-family: "Dancing Script", cursive;
  color: rgba(202, 114, 70, 1);
}

.profile-section .profile-name p {
  font-size: 14px;
  margin: 1rem 4rem;
}
.profile-section .profile-name .devider {
  height: 7vh;
  margin: 1rem 0;
}

.profile-section .profile-name .address {
  font-size: 16px;
  margin: 1rem 4rem;
  font-family: "Dancing Script", cursive;
  color: rgba(202, 114, 70, 1);
}

.countdown-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 250px;
  width: 100%;
  background-size: cover;
  background-position: center;
  background-image: linear-gradient(
      to bottom,
      rgb(0, 0, 0, 0.6),
      rgba(0, 0, 0, 0.5)
    ),
    url("../img/coundown.png");
}

.countdown-section h1 {
  font-family: "Great Vibes", cursive;
  color: #fff;
  font-weight: 400;
  font-size: 28px;
}

.countdown-section .counter-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.countdown-section .counter-container .counter-box {
  height: 80px;
  width: 80px;
  background-image: linear-gradient(to bottom, #ca72464d, #ca72464d);
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 10px 5px;
  border-bottom: 2px solid #ca7246;
}

.countdown-section .counter-container .counter-box p {
  font-family: "Dancing Script", cursive;
  font-weight: 500;
  font-size: 14px;
}

.information-section {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: linear-gradient(
      to bottom,
      rgba(59, 48, 42, 0.7),
      rgba(59, 48, 42, 0.7),
      rgba(59, 48, 42, 0.7),
      rgba(59, 48, 42, 0.7),
      rgba(110, 75, 59, 0.918),
      rgba(124, 86, 71, 0.918),
      rgba(146, 109, 94, 0.918),
      rgba(161, 127, 111, 0.918),
      rgba(161, 132, 119, 0.918),
      rgba(185, 156, 142, 0.918),
      rgb(255, 255, 255)
    ),
    url("../img/buquet.png");
}

.information-section h3 {
  font-family: "Great Vibes", cursive;
  color: #fff;
  font-size: 48px;
  font-weight: 400;
}

.information-section .information-desc {
  margin: 1em 4em;
  color: #fff;
  text-align: center;
  font-size: 16px;
  line-height: 18px;
}

.information-section .line {
  width: 80%;
}

.information-section .information-timeschedule {
  text-align: center;
}

.information-section .information-timeschedule h1 {
  font-family: "Dancing Script", cursive;
  color: #fff;
  font-size: 36px;
  font-weight: 400;
  margin: 10px 0;
}

.information-section .information-timeschedule h2 {
  font-family: "Dancing Script", cursive;
  color: #fff;
  font-size: 24px;
  font-weight: 400;
}

.information-section .information-timeschedule h3 {
  font-family: "Dancing Script", cursive;
  color: #fff;
  font-size: 20px;
  font-weight: 400;
  margin: 1em 0;
}

.information-section .information-button {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.information-section .information-button button {
  padding: 15px 30px;
  margin: 10px 5px;
  background-color: #6c3b41ea;
  color: rgba(255, 255, 255, 0.877);
  border: none;
  border-radius: 90px;
  font-size: 14px;
  font-weight: 500;
  transition: all 0.5s;
}

.information-section .information-button button i {
  font-size: 14px;
  margin: 0px 5px;
}

.information-section .information-button button:hover {
  background-color: #6c3b41;
  color: #fff;
}

.information-section .information-footer {
  text-align: center;
  color: #fff;
  margin: 1em 2em;
  font-size: 16px;
  font-weight: 400;
}

.maps-section {
  width: 100%;
  margin: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.maps-section h1 {
  margin: 10px 0 0 0;
  text-align: center;
  color: rgba(202, 114, 70, 1);
  font-weight: 400;
  font-family: "Great Vibes", cursive;
}

.maps-section p {
  margin: 0 0 20px 0;
  text-align: center;
  font-size: 14px;
  color: rgba(202, 114, 70, 1);
  font-weight: 400;
}

.maps-section .maps-gmaps {
  width: 100%;
  border: none;
  height: 300px;
}

.galery-section {
  display: flex;
  width: 100%;
  flex-direction: column;
}

.galery-section h1 {
  margin: 20px 0;
  text-align: center;
  color: rgba(202, 114, 70, 1);
  font-weight: 400;
  font-family: "Great Vibes", cursive;
}

.galery-section .galery-video {
  width: 100%;
}

.galery-section .galery-video .galery-video-youtube {
  width: 100%;
  height: 250px;
  border: none;
}

.galery-section .galery-photo {
  width: 100%;
  margin: 20px 0;
  gap: 10px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
}

.card-wide {
  background-position: center;
  background-size: cover;
  grid-column: span 3 / auto;
  width: 100%;
  height: 200px;
  background-color: #4d4d4d;
}

.card-tall {
  height: 200px;
  grid-column: span 1 / auto;
  width: 100%;
  background-position: center;
  background-size: cover;
}

.card-balance {
  height: 300px;
  grid-row: span 2 / auto;
  width: 100%;
  background-position: center;
  background-size: cover;
}

.form-section {
  width: 100%;
  
  background-image: linear-gradient(
      to right,
      rgba(0, 0, 0, 0.658),
      rgba(0, 0, 0, 0.445)
    ),
    url("/asset/img/formbg.png");
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}

.form-section h1 {
  margin: 50px 0;
  text-align: center;
  font-size: 48px;
  color: rgb(255, 255, 255);
  font-weight: 400;
  font-family: "Great Vibes", cursive;
}

.form-section .form-container {
  margin: 10px  auto 40px auto;
  color: #fff;
  justify-content: center;
  align-items: center;
  align-content: center;
  background-color: #000000cc;
  border-radius: 20px;
  width: 80%;
  flex-direction: column !important;
}

.form-section .form-container p {
  margin: 10px 0 0 20px;
  font-family: "Great Vibes", cursive;
}

.form-section .form-container form {
  margin: 30px 10px 0 10px;
}

.form-section .form-container form input {
  margin: 10px 20px;
  border-radius: 10px;
  border: none;
  width: 80%;
  padding: 10px;
}

.form-section .form-container .radio-attandance{
  display: flex;
  font-size: 10px;
  margin: 20px 25px;
  justify-content: start;
}

.form-section .form-container .radio-attandance input{
  margin: 0 !important;
  width: 10px;
  height: 10px;
}

.form-section .form-container .radio-attandance label{
  font-size: 12px;
}

.form-section .form-container textarea{
  width: 80%;
  margin: 10px 0 0 20px;
  resize: none;
  height: 50px;
  border-radius: 10px;
  padding: 5px;
}

.form-section .form-container button {
  margin: 20px 30px;
  background-color: #6c3b41;
  color: #fff;
  border-radius: 10px;
  border: none;
  width: 80%;
  padding: 10px 0;
}

.protocol-section {
  background: rgba(161, 102, 60, 1);
  width: 100%;
  display: flex;
  flex-direction: column;
}

.protocol-section h1 {
  color: #fff;
  text-align: center;
  margin: 40px 0 0 0;
  font-family: "Great Vibes", cursive;
  font-weight: 400;
}

.protocol-section p {
  margin: 20px 20px 20px 20px;
  font-family: "Poppins", sans-serif;
  text-align: center;
  font-size: 12px;
  color: #fff;
}

.protocol-section .protocol-container {
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: space-between;
  gap: 0px;
}

.protocol-section .protocol-container .protocol-box {
  width: 100px;
  height: 100px;
  background-color: rgba(255, 255, 255, 0.3);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
}

.protocol-section .protocol-container .protocol-box img {
  width: 80%;
}

.protocol-section .protocol-footer {
  font-family: "Dancing Script", cursive !important;
  font-size: 20px;
  margin: 20px 50px;
}

.greeting-section {
  height: 170px;
  width: 100%;
  font-family: "Dancing Script", cursive !important;
  color: #fff;
  font-weight: 400 !important;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: linear-gradient(
      to right,
      rgba(0, 0, 0, 0.795),
      rgba(0, 0, 0, 0.616),
      rgba(0, 0, 0, 0)
    ),
    url("/asset/img/footer.png");
}

.greeting-section .greeting {
  margin: 40px 0 0 20px;
}

.greeting-section .greeting h1 {
  font-size: 38px;
  font-weight: 400;
}

.greeting-section .greeting h2 {
  font-size: 20px;
  font-weight: 400;
}

.team-section {
  height: 75px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  font-family: "Poppins", sans-serif;
}

.team-section img {
  height: 30px;
}

.team-section p {
  font-size: 12px;
}

/* Iphone 5 Query */
@media only screen and (max-width: 320px) {
  .wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    background-color: rgb(255, 255, 255);
  }

  .countdown-section .counter-container .counter-box {
    height: 70px;
    width: 70px;
    background-image: linear-gradient(to bottom, #ca72464d, #ca72464d);
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10px 5px;
    border-bottom: 2px solid #ca7246;
  }

  .information-section {
    height: 600px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: linear-gradient(
        to bottom,
        rgba(181, 91, 46, 0.4),
        rgba(181, 91, 46, 0.4)
      ),
      url("../img/buquet.png");
  }

  .information-section h3 {
    font-family: "Great Vibes", cursive;
    color: #fff;
    font-size: 10px;
    font-weight: 400;
  }

  .information-section .information-desc {
    margin: 1em 0em !important;
    color: #fff;
    text-align: center;
    font-size: 14px !important;
    line-height: 18px;
  }

  .information-section .line {
    width: 80%;
  }

  .information-section .information-timeschedule {
    text-align: center;
  }

  .information-section h3 {
    font-family: "Great Vibes", cursive;
    color: #fff;
    font-size: 48px;
    font-weight: 400;
  }

  .information-section .information-desc {
    margin: 1em 4em;
    color: #fff;
    text-align: center;
    font-size: 16px;
    line-height: 18px;
  }

  .information-section .line {
    width: 80%;
  }

  .information-section .information-timeschedule {
    text-align: center;
  }

  .information-section .information-timeschedule h1 {
    font-family: "Dancing Script", cursive;
    color: #fff;
    font-size: 30px;
    font-weight: 400;
    margin: 10px 0;
  }

  .information-section .information-timeschedule h2 {
    font-family: "Dancing Script", cursive;
    color: #fff;
    font-size: 18px;
    font-weight: 400;
  }

  .information-section .information-timeschedule h3 {
    font-family: "Dancing Script", cursive;
    color: #fff;
    font-size: 14px;
    font-weight: 400;
    margin: 1em 0;
  }

  .information-section .information-button {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
  }

  .information-section .information-button button {
    padding: 20px 40px;
    width: 100%;
    margin: 5px 5px;
    background-color: #6c3b41ea;
    color: rgba(255, 255, 255, 0.877);
    border: none;
    border-radius: 90px;
    font-size: 14px;
    font-weight: 500;
    transition: all 0.5s;
  }

  .information-section .information-button button i {
    font-size: 14px;
    margin: 0px 5px;
  }

  .information-section .information-button button:hover {
    background-color: #6c3b41;
    color: #fff;
  }

  .information-section .information-footer {
    text-align: center;
    color: #fff;
    margin: 1em 2em;
    font-size: 16px;
    font-weight: 400;
  }
}

@media only screen and (max-width: 450px) {
  .card-wide {
    background-position: center;
    background-size: cover;
    grid-column: span 2 / auto;
    width: 100%;
    height: 200px;
    background-color: #4d4d4d;
  }

  .card-tall {
    height: 200px;
    grid-column: span 1 / auto;
    width: 100%;
    background-position: center;
    background-size: cover;
  }
}
